body {
  width: 88%;
  margin: 0 auto;
}

button {
  border: none;
  height: 40px;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
}

button .disabled,
button:disabled,
button[disabled="true"] {
  cursor: not-allowed;
  pointer-events: none;
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}

header {
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
}

header nav {
  width: 30%;
}

header div {
  width: 67%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: baseline;
}

header div button {
  background-color: #04aa6d;
}
header div button:hover {
  background-color: #46a049;
}

main ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
  width: 250px;
  height: 280px;
  padding: 3px;
  text-align: center;
  /* align-items: center; */
}

ul li img {
  width: 130px;
  height: 170px;
  align-items: center;
}

ul li button {
  background-color: #2196f3;
}

ul li button:hover {
  background: #0b7dda;
}

footer {
  height: 40px;
  padding: 4px 0;
  color: #fff;
  text-align: center;
  background-color: #2196f3;
}

/* for pop up */
/* The popup form - hidden by default */
.popup {
  display: none;
  position: fixed;
  top: 78px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.popup-container {
  max-width: 290px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.popup-container input[type="text"],
.popup-container input[type="number"] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.popup-container input[type="text"]:focus,
.popup-container input[type="number"]:focus {
  background-color: #ddd;
  outline: none;
}

.popup .btn {
  color: rgb(20, 20, 20);
  font-size: 23px;
  padding: 0 20px;
  padding-bottom: 14px;
  border: none;
  cursor: pointer;
  /* margin-bottom: 10px; */
  opacity: 0.8;
}

/* Set a style for the submit/login button */
.popup-container .btn {
  background-color: #04aa6d;
  color: white;
  font-size: 18px;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 18px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.popup-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.warn {
  color: red;
  font-size: 14px;
}

/* MODAL RECEIPT */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #2196f3;
  color: white;
}

/* Modal Body */
.modal-body {
  max-height: 450px;
  padding: 2px 16px;
  overflow-y: scroll;
}

.modal-body div {
  height: 430px;
}

/* Modal Footer */
.modal-footer {
  text-align: right;
  padding: 2px 16px;
  background-color: #fff;
  color: #fff;
}

.modal-footer button {
  margin: auto 4px;
}

.modal-footer button:first-child {
  background: #852818;
}

.modal-footer button:nth-child(2) {
  background: #2196f3;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* RECEIPT TABLE */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

thead tr {
  background-color: #2196f3;
  color: #fff;
}

th,
td {
  text-align: left;
  padding: 16px;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:last-child {
  background-color: #4174b8;
  color: #ffffff;
  font-weight: 600;
}

tbody tr:last-child td {
  text-align: center;
}

/* Print Modal receipt */
@media screen {
  #printSection {
    display: none;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #printSection,
  #printSection * {
    visibility: visible;
  }
  #printSection {
    position: absolute;
    left: 0;
    top: 0;
  }
  #printThis {
    margin-left: 12px;
  }
}
